@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 1, 0, 12;
  --background: 41, 41, 41;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(var(--background));
  /* counter-reset: #292929; */
}
